.infoSection {
  background-color: #f0eeef;
  padding: 52px 16px 56px;
}
.infoList {
  margin-top: 38px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.title {
  color: #2a2996;

  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1px;
}
.infoList li:nth-child(3) {
  display: none;
}

.infoItem {
  width: 282px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.imageContainer {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #e2e2e2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.value {
  margin-top: 12px;
  color: #2a2996;
  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.44px;
}
.description {
  color: #2a2996;

  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.42px;
}

@media (min-width: 768px) {
  .infoList {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
  .infoItem {
    width: 200px;
  }

  .infoItem:first-child {
    border-right: 1px solid rgba(196, 196, 196, 0.5);
  }

  .infoItem {
    border-bottom: none;
  }
}

@media (min-width: 1024px) {
  .infoList li:nth-child(3) {
    display: flex;
  }

  .infoItem:not(:last-child) {
    width: 282px;
    border-right: 1px solid rgba(196, 196, 196, 0.5);
  }

  .infoItem {
    border-bottom: none;
  }
}

@media (min-width: 1465px) {
  .infoList li:nth-child(3) {
    display: flex;
  }

  .infoSection {
    padding: 40px 100px 56px;
  }
}
