.heroSection {
  margin: 0 auto;
}

.heroContainer {
  position: relative;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  min-width: 428px;
  max-width: 768px;
}

.logo {
  margin-top: 14px;
}
.heroTitle {
  margin-top: 14px;

  color: #01005b;

  text-align: center;
  font-family: "Sofia Pro";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 130.769% */
  letter-spacing: 1.04px;
  width: 351px;
}

.list {
  margin: 24px auto 30px;
  max-width: 500px;
  min-width: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.listItem {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
}

.listItemtext {
  color: #676869;

  font-family: "Sofia Pro";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  letter-spacing: 0.39px;
}

.feedbackCardContainer {
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translate(-50%, -50px);
}

@media (min-width: 1465px) {
  .heroSection {
    position: relative;
  }

  .heroContainer {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 86px;
    align-items: normal;
    display: flex;
    flex-direction: column;
    max-width: 1465px;
    padding-bottom: 142px;
  }

  .heroTitle {
    text-align: left;
    font-size: 38px;
    line-height: 45px;
    letter-spacing: 1.52px;
    width: 592px;
  }

  .logo {
    margin-top: 30px;
    margin-left: 96px;
    margin-bottom: 62px;
  }

  .list {
    margin: 32px 0 32px;
    gap: 32px;
  }

  .listItem {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.45px;

    padding-left: 0;
    padding-right: 0;

    width: 425px;
  }

  .feedbackCardContainer {
    position: absolute;
    bottom: 0;
    left: 100px;
    transform: translate(0%, 50%);
  }
}
