.imageGrid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 4px;
  justify-content: center;
  max-width: 420px;
  margin: 40px auto;
}

.gridImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

@media (max-width: 1260px) {
  .imageGrid img:nth-child(n + 9) {
    display: none;
  }
}

@media (max-width: 768px) {
  .reviewsSlider {
    max-width: 100%;
  }
}

@media (min-width: 570px) {
  .imageGrid {
    grid-template-columns: repeat(5, 110px);
    grid-template-rows: repeat(2, 110px);
    max-width: 668px;
    gap: 5px;
  }

  .imageGrid img:nth-child(n + 21) {
    display: block;
  }
}

@media (min-width: 768px) {
  .imageGrid {
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: repeat(2, 110px);
    max-width: 668px;
    gap: 5px;
  }

  .imageGrid img:nth-child(n + 19) {
    display: block;
  }
}

@media (min-width: 940px) {
  .imageGrid {
    grid-template-columns: repeat(8, 110px);
    grid-template-rows: repeat(2, 110px);
    max-width: 668px;
    gap: 5px;
  }

  .imageGrid img:nth-child(n + 15) {
    display: block;
  }
}

@media (min-width: 1260px) {
  .imageGrid {
    grid-template-columns: repeat(11, 110px);
    grid-template-rows: repeat(2, 110px);
    max-width: 1260px;
    gap: 5px;
  }

  .imageGrid img:nth-child(n + 9) {
    display: block;
  }
}
