.sliderContainer {
  position: relative;
  width: 380px;
  margin: auto;
}

.mainSlider {
  position: relative;
  width: 100%;
}

.slideImage {
  width: 100%;
  border-radius: 10px;
}

.thumbSlider {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
  z-index: 10;
}

.thumbImage {
  width: 22px;
  height: 23px;

  cursor: pointer;
  transition: opacity 0.3s;
}

.thumbImage:hover {
  opacity: 1;
}

.customPrev,
.customNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.customPrev {
  left: -40px;
}

.customNext {
  right: -40px;
}

.customPrev:hover,
.customNext:hover {
  background: rgba(0, 0, 0, 0.8);
}
