.sliderContainer {
  width: 100%;
  width: 300px;
  max-width: 1200px;
  margin: 0 auto;
}

.slideImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbnail {
  width: 50px;
  height: auto;
  border-radius: 4px;
}

.customDots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

.customDots ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.customDots li {
  display: inline-block;
}

.logoSliderContainer.slick-next {
  fill: black;
}

@media (max-width: 768px) {
  .sliderContainer {
    max-width: 768px;
  }
}

@media (max-width: 480px) {
  .sliderContainer {
    max-width: 480px;
  }
}

@media (max-width: 428px) {
  .sliderContainer {
    max-width: 428px; /* Ограничиваем ширину для мобильных */
  }

  .slick-track {
    width: 100% !important; /* Переопределяем фиксированную ширину */
  }

  .slick-slide {
    width: 100% !important; /* Слайды адаптируются под контейнер */
  }

  .slideImage {
    width: 100%; /* Убеждаемся, что изображения адаптируются */
  }
}
