.imgContainer {
  margin: 38px auto 52px;
  margin-top: 14px;
  position: relative;

  width: 360px;
  height: 224px;
}

.mainImage {
  position: absolute;
  width: 150px;
  height: 224px;

  top: 0%;
  left: 50%;
  transform: translate(-50%);
  border: 3px solid white;
}

.leftImage {
  position: absolute;
}

.rightImage {
  position: absolute;
}

.imgWrapperRight {
  position: absolute;
  width: 110px;
  height: 166px;
  top: 50%;
  left: 50%;
  transform: translate(55%, -50%);
}

.imgWrapperRight::after {
  content: " ";
  position: absolute;
  width: 70px;
  height: 99px;
  top: 50px;
  left: 80px;
  transform: translate(0px, -20px);
  background: linear-gradient(
    180deg,
    rgba(249, 240, 229, 0.22) 0%,
    rgba(249, 240, 229, 0.7) 100%
  );
  z-index: -1;
}

.imgWrapperLeft {
  position: absolute;
  width: 110px;
  height: 166px;

  top: 50%;
  left: 50%;
  transform: translate(-155%, -50%);
}

.imgWrapperLeft::after {
  content: " ";
  position: absolute;
  width: 70px;
  height: 99px;
  top: 50px;

  left: -50%;
  transform: translate(15px, -20px);
  background: linear-gradient(
    180deg,
    rgba(249, 240, 229, 0.22) 0%,
    rgba(249, 240, 229, 0.7) 100%
  );
  z-index: -1;
}

@media (min-width: 1465px) {
  .imgContainer {
    margin-top: 46px;
    height: 374px;
  }
  .mainImage {
    width: 246.207px;
    height: 372.996px;
  }
  .imgWrapperLeft {
    width: 209.072px;
    height: 316.737px;
    transform: translate(-160%, -50%);
  }
  .imgWrapperRight {
    width: 209.072px;
    height: 316.737px;
    transform: translate(60%, -50%);
  }

  .imgWrapperRight::after {
    width: 139px;
    height: 196px;
    top: 68px;
    left: 150px;
  }
  .imgWrapperLeft::after {
    width: 139px;
    height: 196px;
    top: 68px;
  }
}
