.StarsUnderCTAContainer {
  margin-top: 12px;
}
.text {
  margin-left: 14px;
  color: #828282;
  font-family: "Suisse Int'l";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.24px;
}
