.benefitsSection {
  padding: 20px 40px 44px;
  text-align: center;
  position: relative;
  min-height: 600px;
  overflow: hidden;
}

.benefitsSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
  background-image: url("../../img/backgraund.svg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
}
.title {
  margin: 0 auto;
  color: #01005b;

  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-size: 26px;

  line-height: 34px;
  letter-spacing: 1.04px;
  width: 330px;
}

.asSeen {
  text-align: center;
  margin-top: 84px;
  margin-bottom: 16px;
  color: #868787;
  font-family: "Sofia Sans", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.45px;
}

.logoSliderContainer {
  margin-bottom: 40px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.benefitsSlider {
  margin-top: 20px;
  position: relative;
}

.benefitsSlider .customPrevArrow,
.benefitsSlider .customNextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.benefitsSlider .customPrevArrow {
  left: -68px;
}

.benefitsSlider .customNextArrow {
  right: -68px;
}

.benefitsSlider .customPrevArrow svg,
.benefitsSlider .customNextArrow svg {
  width: 24px;
  height: 24px;
}

.benefitsSlider .customPrevArrow:hover svg path,
.benefitsSlider .customNextArrow:hover svg path {
  stroke: #01005b;
}

.benefitsImage {
  width: 300px;
  height: 400px;
  max-width: 600px;
  object-fit: cover;
}

.logoImage {
  width: 80px;
  height: 30px;
  object-fit: contain;
}

.logoSliderContainer :global(.slick-slide) {
  margin: 0 10px;
}

.logoSliderContainer :global(.slick-list) {
  margin: 0 -10px;
}

.productName {
  margin-top: 7px;
  color: #676869;
  text-align: center;
  font-family: "Suisse Int'l";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.39px;
}

.benefitsList {
  margin: 60px auto 40px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.benefitsItem {
  position: relative;
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefitsItem:not(:last-child)::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgba(196, 196, 196, 0.5);
  bottom: -50px;
}

.benefitsListItemContainer {
  margin-top: 20px;
  text-align: center;
}

.benefitsItemTitle {
  color: #01005b;
  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.benefitsItemText {
  margin-top: 20px;
  color: #676869;
  text-align: center;
  font-family: "Sofia Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.42px;
}

.desktopList {
  display: none;
}
.ctaContainer {
  display: block;
}

@media (max-width: 768px) {
  .logoSliderContainer {
    max-width: 768px;
  }

  .benefitsSlider .customPrevArrow {
    left: -48px;
  }

  .benefitsSlider .customNextArrow {
    right: -48px;
  }
}

@media (max-width: 480px) {
  .logoSliderContainer {
    max-width: 480px;
  }
}

@media (min-width: 768px) {
  .benefitsList {
    flex-wrap: wrap;
    width: 600px;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
  }

  .benefitsItem:not(:last-child)::after {
    width: 100%;
    height: 1px;
    background: rgba(196, 196, 196, 0.5);
    bottom: -50px;
  }

  .benefitsItem:nth-last-child(-n + 2)::after {
    background: none;
  }
}

@media (min-width: 1465px) {
  .benefitsSection::before {
    background: linear-gradient(
      180deg,
      #f9f0e5 0%,
      rgba(249, 240, 229, 0.18) 43.05%,
      rgba(249, 240, 229, 0) 100%
    );
  }
  .benefitsSection {
    padding-top: 78px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 54px;
  }

  .container {
    margin: 0 auto;
    max-width: 1465px;
    position: relative;
    padding-right: 100px;
    padding-left: 100px;
  }

  .asSeen {
    margin: 0;

    font-size: 20px;

    line-height: 23px;
    letter-spacing: 0.6px;
  }

  .logoSliderContainer {
    display: none;
  }
  .desktopList {
    margin-top: 28px;
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }

  .benefitsSlider {
    position: absolute;
    right: 80px;
    bottom: 0;
  }

  .title {
    width: 600px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 1.28px;
    text-align: left;
    margin-top: 110px;
    margin-bottom: 115px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .benefitsList {
    margin: 0;
    gap: 28px;
  }
  .benefitsItem {
    width: 497px;
    display: flex;
    flex-direction: row;
  }
  .benefitsItem svg {
    margin-right: 32px;
    margin-bottom: 44px;
  }

  .benefitsItemText {
    text-align: left;
  }
  .benefitsListItemContainer {
    width: 497px;
    text-align: left;
    margin-top: 0;
  }

  .benefitsItem:not(:last-child)::after {
    content: " ";
    position: relative;
    width: 0%;
    height: 0px;
    background: rgba(196, 196, 196, 0);
    bottom: 0px;
  }
  .ctaContainer {
    display: none;
  }

  .benefitsItemTitle {
    text-align: left;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.88px;
  }
  .benefitsItemText {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.45px;
  }
}
