.CTAbutton {
  width: 369px;
  height: 56px;
  flex-shrink: 0;

  border-radius: 5px;
  background: #01005b;

  color: #fff;

  text-align: center;
  font-family: "Suisse Int'l";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.54px;
}
.CTAbuttonText {
  margin-right: 16px;
}
